.footer {
  padding: 60px 0;
  background-color: var(--hero-footer-backgraund-color);
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    
  }
}

.footer__wrap_tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
   
  }
}

.address-box {
 @media screen and (max-width: 1199px) {
  margin-bottom: 60px;
 }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 61px;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-address__link {
  font-style: normal;
  color: var(--footer-logo-color);
  text-align: center;
  display: block;
  transition: color var(--transition-dur-and-func);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
   @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-mail {
  margin: 8px 0;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  color: var(--footer-text-color);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.add {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-right: 74px;
  }
}

.add__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  @extend %align;

  transition: background-color var(--transition-dur-and-func);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  fill: currentColor;
}

/* підписка на розсилку */
.subscribe-form {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.subscribe-form__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--footer-logo-color);
  margin-bottom: 20px;
  text-align: center;
  
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subscribe-form__wrap {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscribe-form__email {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
 margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe-form__btn {
  border: none;
  max-width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-form__btn-icon {
  fill: currentColor;
  margin-left: 10px;
}
